node_modules/
dist/
*.log
.env
.env.local
.env.*.local
.claude
server/data/
server/imgbed
server/imgbed.exe
server/embed/admin/
server/embed/site/

embed
*.db
*.db-journal

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
server/imgbed-gui.exe


