node_modules/
dist/
*.log
.env
.env.local
.env.*.local
.claude
server/data/
server/imgbed
server/imgbed.exe
server/embed/admin/
server/embed/site/

embed
*.db
*.db-journal

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
server/imgbed-gui.exe
渠道.md
server/imgbed-windows-amd64.exe
docs/渠道_config.md
docs/掘金投稿.md
server/imgbed-linux-amd64
server/imgbed-linux-arm64
server/imgbed-windows-amd64..zip
